<!-- <div class="mt-5"></div> -->
<div class="main-heading">BRANCH CASH REQUIREMENT</div>
<div class="mt-4"></div>

    <div class="card ">
        <div class="card-body">

            
    
    <div class="container">
  

      <h2 *ngIf="branchDemandDetailArray.length === 0" class="text-danger text-center">
        No Cash Requirement.
      </h2>
      <div class="card-body">
      <div *ngIf="branchDemandDetailArray.length > 0">
      <table class=" table table-hover table-responsive table-common-border text-center  table-bordered " >
        <!-- <div class="card table-common-border container-fluid pb-2 custom-styles" style="width: 80%; "> -->

        <thead class="theadclass">
            <th
              class="header"
              *ngFor="let header of branch_cash_requirement_header">
              {{ header }}
            </th>
        </thead>
        <tbody> 
            <tr *ngFor="let branchList of branchDemandDetailArray; let h=index">
                  <td>{{h+1}}</td>
                  <td>{{ branchList.brcode}}</td>
                  <td>{{ branchList.branchName }}</td>
                  <!-- <td>{{ branchList.bankerName }}</td> -->
                  <!-- <td>{{ branchList.sanctionDate }}</td> -->
                  <td class="text-end">{{ branchList.cashDemand }} /-</td>
                  <td class="text-end">{{ branchList.retentionLimit }} /-</td>
                  <td class="text-end">{{ branchList.retentionLimitPercentage }}%-</td>
                  <!-- <td>{{ branchList.demandStatus }}</td> -->
                  <!-- <td class="text-center">
                    <button  mat-mini-fab color="primary" class="btn-hover" (click)="updateStatus(guarantor)" title="Edit Guarantor"><i class="fa-solid fa-pen-to-square fa-lg"></i></button> &nbsp;&nbsp;
                    <button mat-mini-fab color="warn" class="btn-hover" (click)="confirmDeleteIndGuarantor(guarantor.id,guarantor.guarantorName ,guarantor.pan)"  title="Delete Guarantor"><i class="fa-solid fa-trash-can"></i></button>
                  </td> -->


                  <td class="text-center">
                    <button  mat-mini-fab color="primary" class="btn-hover" title="Edit Guarantor"><i class="fa-solid fa-pen fa-lg"></i></button> &nbsp;&nbsp;
                    <button mat-mini-fab color="warn" class="btn-hover"   title="Delete Guarantor"><i class="fa-solid fa-trash-can"></i></button>
                  </td>
                  <!-- <td>{{ branchList.assetClassification }}</td> -->
            </tr>
        </tbody>
        </table>
        <!-- <div class="mt-5 d-flex justify-content-center">
            <button  matStepperPrevious  class="btn btn-hover btn-w btn-secondary"> Back </button>&nbsp;&nbsp;&nbsp;
            <button matStepperNext class="btn btn-hover  btn-w btn-primary">  Next </button>
          </div> -->

          <div class="mt-5 d-flex justify-content-center">
            <button  matStepperPrevious  class="btn btn-hover btn-w btn-secondary"> Make Plan </button>&nbsp;&nbsp;&nbsp;
            <button  mat-mini-fab color="primary" class="btn-hover" title="make plan"><i class="fa-solid fa-pen fa-lg"></i></button> &nbsp;&nbsp;

          </div>


          <div class="action-buttons">
            <!-- Accept Button -->
            <button mat-raised-button color="primary" class="accept-btn" title="Accept Request">
              Accept
            </button>
          
            <!-- Reject Button -->
            <button mat-raised-button color="warn" class="reject-btn" title="Reject Request">
              Reject
            </button>
          </div>

        </div>
      
        </div> 
    </div> 

   


</div>
    </div>
    <br>

