<app-header></app-header>

<div class="dropdown"></div>


  <button
    class="btn btn-success"
  style="margin: 10px; max-width: 25%; min-width: 25%;"
  (click)="downloadReport(region)"
>
  
    <span>
      Download Report
    </span>
 
</button>
  


<div class="main-heading">BRANCH CASH REQUIREMENT</div>
<div class="mt-4"></div>

    <!-- <div class="card "> -->
        <!-- <div class="card-body"> -->

            
    
    <div class="container">
  

      <h2 *ngIf="branchDemandDetailArray.length === 0" class="text-danger text-center">
        No Cash Requirement.
      </h2>
      <div class="card-body">
      <div *ngIf="branchDemandDetailArray.length > 0">
      <table class=" table table-hover table-responsive table-common-border text-center  table-bordered " >
        <!-- <div class="card table-common-border container-fluid pb-2 custom-styles" style="width: 80%; "> -->

        <thead class="theadclass">
            <th
              class="header"
              *ngFor="let header of branch_cash_requirement_header">
              {{ header }}
            </th>
        </thead>
        <tbody> 
            <tr *ngFor="let branchList of branchDemandDetailArray; let h=index">
                  <td>{{h+1}}</td>
                  <td>{{ branchList.brcode}}</td>
                  <td>{{ branchList.branchName }}</td>
                  <td>{{ branchList.blockName }}</td>
                  <td class="text-end">{{ branchList.retentionLimit }} /-</td>

                  <td class="text-end">{{ branchList.previousDayCashOnHand || 'NA'}} /- </td>
                  <td class="text-end">
                   {{ branchList.soiledCurrencyAmount || 'NA' }}
                    <span *ngIf="branchList.soiledCurrencyAmount">{{ '/ -' }}</span>
                  </td>

                  <td class="text-end">
                    {{ branchList.cashDemand || 'NA' }}
                     <span *ngIf="branchList.cashDemand">{{ '/ -' }}</span>
                   </td>
                                  <td class="text-end">{{ branchList.cashDemand }} /-</td>
                  <!-- <td class="text-end">{{ branchList.probableCashOnHand }}%-</td> -->
             
                  <!-- <td class="text-center">
                    <button  mat-mini-fab color="primary" class="btn-hover" title="Edit Guarantor"><i class="fa-solid fa-pen fa-lg"></i></button> &nbsp;&nbsp;
                    <button mat-mini-fab color="warn" class="btn-hover"   title="Delete Guarantor"><i class="fa-solid fa-trash-can"></i></button>
                  </td> -->
            </tr>
        </tbody>
        </table>
        

        </div>
      
        </div> 
    </div> 

   


<!-- </div> -->
    <!-- </div> -->
    <br>

