<div _ngcontent-ng-c2359972585="" class="d-flex border-bottom border-primary doubleborder"
    style="width: 100%; align-items: center;"><img _ngcontent-ng-c2359972585="" width="75%" height="90px"
        src="assets/mgb.png" alt="Logo"><span _ngcontent-ng-c2359972585=""
        class="ms-auto d-flex flex-column justify-content-center"
        style="width: 25%; height: 90px; text-align: right; background-color: white;">


        <!-- <h4  align="right"> Department: IT</h4>
        <h4   align="right"> Office Code: <%=brCode%> </h4>
        <h4   align="right"> EPF No: <%=PFno%> </h4>  -->

        <div _ngcontent-ng-c2359972585="" class="user-info"><b _ngcontent-ng-c2359972585=""> Welcome ...<label
                    _ngcontent-ng-c2359972585="" style="color: green;"> User </label><br _ngcontent-ng-c2359972585="">
                Branch: N/A &nbsp;&nbsp; Region: N/A </b></div>
    </span></div>

    <footer
      class="footer fixed-bottom"
      style="
        background-color: rgb(179, 179, 241);
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="col-md-4 d-flex justify-content-center">
        &copy;  Maharashtra Gramin Bank
      </div>
    </footer>